/* 
color used
primary color (dark orange): #B86E0D
secondary color (dark gray): #363636
accent color (light gray): #606262
accent color (light orange): # FAF1E6
accent color (extra light gray): # EDEDED
white: #FFFFFF
black: #000000
*/

* {
    box-sizing: border-box;
}

img {
    width:100%;
}

h1 {
    font-family: "Vollkorn", sans-serif;
    font-size: 1.75em;
    font-weight: 700;
    color: #363636;
    }
  
    h2 {
      font-family: "Vollkorn", sans-serif;
      font-size: 1.75em;
      font-weight: 700;
      color: #363636;
    }
  
    h3 { 
      font-family: "Vollkorn", sans-serif;
      font-size: 1.5em;
      font-weight: 700;
    }
  
    
    p {
      font-family: "Poppins", sans-serif;
      font-size: 1.31em;
      font-weight: 400;
      color: #606262;
    }
   


  .button {
    display: inline block;
    background-color: #FFFFFF; /*white*/
    border: 4px solid #363636; /*gray*/
    border-radius: 6px;
    padding: 8px 50px;
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #B86E0D; /*orange*/
  }

  /* Layout styling */
  .container {
    padding: 0  15px;
}

#recent-work .row { 
    margin: 25px 0; /* 25px top and botton, 0 left and right */
}

.logo {
    max-width: 250px;
}

header {
    text-align: center;
    padding: 10px 0;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}
