#s-67bf11e0-8c87-4a7a-9538-5095d8444588 > #backgroundBox {
  position: absolute;
}
#s-67bf11e0-8c87-4a7a-9538-5095d8444588 > #alignmentBox {
  position: relative;
  max-width: 414.0px;
  max-height: 736.0px;
  width: 100%;
  height: 100%;
}
#s-67bf11e0-8c87-4a7a-9538-5095d8444588 #s-Image_1 {
  position: absolute;
  width: 414.0px;
  height: 1108.4160000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-67bf11e0-8c87-4a7a-9538-5095d8444588 #s-Hotspot_1 {
  position: absolute;
  width: 343.0px;
  height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-67bf11e0-8c87-4a7a-9538-5095d8444588 #s-Hotspot_2 {
  position: absolute;
  width: 75.0px;
  height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-67bf11e0-8c87-4a7a-9538-5095d8444588 #s-Hotspot_3 {
  position: absolute;
  width: 68.0px;
  height: 41.000000000000036px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-67bf11e0-8c87-4a7a-9538-5095d8444588 #s-Hotspot_4 {
  position: absolute;
  width: 84.0px;
  height: 57.41600000000004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-67bf11e0-8c87-4a7a-9538-5095d8444588 #s-Hotspot_5 {
  position: absolute;
  width: 36.00000000000038px;
  height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-67bf11e0-8c87-4a7a-9538-5095d8444588 #s-Hotspot_6 {
  position: absolute;
  width: 58.05964288153675px;
  height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-67bf11e0-8c87-4a7a-9538-5095d8444588 #s-Hotspot_7 {
  position: absolute;
  width: 54.00000000000004px;
  height: 26.208000000000187px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-67bf11e0-8c87-4a7a-9538-5095d8444588 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}